body{
    background-color: #F9F9F9;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: #031737;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #031737;
}

a {
    color: white;
    text-decoration: none;
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover,:focus {
    background: #6F7C9E;
    border-radius: 3px;
    transition: transform ease .3s;
    transform: scale(1.05);
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
    justify-content: space-between;
}

.css-i4bv87-MuiSvgIcon-root {
    color: white;
}

.cardStatistics{
    display: flex;
    border-radius: 15px;
    background-color: white;
    border:1px solid #80808026;
    width: 223px;
    height: 253px;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;

}

.css-j7lo2a-MuiTypography-root {
    font-size: 1.55rem;
    margin-top: 3px;
}

h6{
    color: #4D4D4D;
}

.css-1vsal3o-MuiTypography-root {
    color: grey;
}

.css-vyr5dt-MuiTypography-root {
    color: grey;
}

.css-sf82k2-MuiTypography-root {
    color: grey;
}

@media (min-width: 600px){
    main.MuiBox-root.css-hq9khu {
        width: calc(90% - 216px);
        padding-top: 100px;
    }
}
@media (max-width: 600px){
    main.MuiBox-root.css-hq9khu {
        width: 85%;
        padding-top: 100px;
    }
}