body {
    margin: 0;
    border-radius: 0;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1ps6pg7-MuiPaper-root {
    background-image: url('../../assets/landing.png');
    height: 100vh;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%
}

.headline.MuiBox-root.css-2sjag3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 40px;
    max-width: 491px !important;
    color: white;
    margin-top: 220px;
    margin-left: 70px;
}

h1.MuiTypography-root.MuiTypography-h1.css-o2w69a-MuiTypography-root.title {
    color: white;
    font-weight: 800;
    font-size: 47px;
}

p.MuiTypography-root.MuiTypography-body1.MuiTypography-paragraph.css-z2eky3-MuiTypography-root {
    max-width: 400px;
    color: #ffffff99;
}

.MuiListItemText-root.keyItem.css-tlelie-MuiListItemText-root span {
    font-size: 15px;
    font-weight: lighter !important;
    color: #0000806b;
}

button.get {
    color: #83B239;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #83B239;
    border-radius: 34px;
    width: 192px;
    margin-left: 14px;
    background-color: #fff;
}