.first-nav{
  background-color: transparent !important;
  animation: first-anim .5s both;
  margin-top: 10px;
}

.fixed{
  position: fixed !important;
  background-color: white !important;
  animation: fixed-anim .8s both;
}

@keyframes fixed-anim {
  from{
    transform: translateY(-60px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes first-anim {
  from{
    transform: translateY(80px);
  }
  to{
    transform: translateY(0);
  }
}
